.sign_up {
    font-size: 18px;
    font-weight: 500;
}

.form {
    padding: 28px 27px 31px 27px;
    margin: 0 auto;
    width: 465px;
    min-height: 369px;
    background: #FFFFFF;
}

.form_group {
    background-color: #FFFFFF;
}

Label {
    background-color: #FFFFFF;
}

.sign_up_button {
    position: relative;
    left: 327px;
}