* {
    font-family: Graphik;
    background-color: #E3F2FD;
}

img {
    margin: 0 auto;
    margin-top: 198px;
    display: block;
}

.title {
    // margin-top: 17px;
    font-weight: 800;
    font-size: 54px;
    color: #373A3C;
    text-align: center;
}

.sign_in {
    font-size: 18px;
    font-weight: 500;
}

.signin_form {
    padding: 28px 27px 31px 27px;
    margin: 0 auto;
    width: 465px;
    height: 309px;
    background: #FFFFFF;
}

.form_group {
    background-color: #FFFFFF;
}

Label {
    background-color: #FFFFFF;
}

.sign_in_button {
    margin-left: 197px;
}

.signup {
    margin-top: 17px;
    margin-bottom: 303px;
    display: block;
    text-align: center;
}