* {
    // font-family: Graphik;
    background-color: #E3F2FD;
}

img {
    margin: 0 auto;
    margin-top: 198px;
    display: block;
}

.title {
    // margin-top: 17px;
    font-weight: 800;
    font-size: 54px;
    color: #373A3C;
    text-align: center;
}



.signup {
    margin-top: 17px;
    margin-bottom: 303px;
    display: block;
    text-align: center;
}