.sign_in {
    font-size: 18px;
    font-weight: 500;
}

.signin_form {
    padding: 28px 27px 31px 27px;
    margin: 0 auto;
    width: 465px;
    min-height: 309px;
    background: #FFFFFF;
}

.form_group {
    background-color: #FFFFFF;
}

Label {
    background-color: #FFFFFF;
}

.sign_in_button {
    margin-top: 2px;
    margin-left: 197px;
}

.sign_in_link {
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}